body{
    width: 600px;
    margin: 0 auto;
    font-family: "Lucida Sans", sans--serif;
    color:#00376c;
}
a{
    color:#00376c;
    text-decoration:none;
}
a:hover{
    border-bottom: 2px solid #7b7b7b;
    text-align:center;
}
h2{
     text-align: center;
    border-bottom: 3px solid #003366;
    padding-bottom: 10px;
    margin-bottom: 20px
}


h3{
    color: #1577ff;
    border-bottom: 2px solid #1577ff;
    display: inline;
}
header{
    border-bottom: 6px solid #7b7b7b;
    line-height: 80px;
    text-align:center;
    background-color:#c7e3ff;
    margin-bottom: 40px;
}

.story,
.services,
.loction{
    padding: 10px 15px;
    margin-bottom:40px;
    background-color:#e7e7e7;
}

.services p,
footer p{
    font-style: italic;
}

footer {
    text-align: center;
    background-color:#c7e3ff;
    margin-bottom: 40px;
    padding:10px;
    }
footer img{
    width: 150px;
    margin: 0 auto;
}